# Scratch pad

Hi, this is where I mess around with ideas outside of the report notebook. Once it works and is worth including, I transfer the logic back to the report notebook.

Feel free to look through here but keep in mind that it's a stream of conciousness and not intended to be run in the future.

In [2]:
!python --version
!pip list

Python 3.9.0
Package             Version
------------------- ---------
appnope             0.1.0
argon2-cffi         20.1.0
async-generator     1.10
attrs               20.3.0
backcall            0.2.0
bleach              3.2.1
certifi             2020.11.8
cffi                1.14.3
chardet             3.0.4
decorator           4.4.2
defusedxml          0.6.0
entrypoints         0.3
idna                2.10
ipykernel           5.3.4
ipython             7.19.0
ipython-genutils    0.2.0
jedi                0.17.2
Jinja2              2.11.2
json5               0.9.5
jsonschema          3.2.0
jupyter-client      6.1.7
jupyter-core        4.7.0
jupyterlab          2.2.9
jupyterlab-pygments 0.1.2
jupyterlab-server   1.2.0
MarkupSafe          1.1.1
mistune             0.8.4
nbclient            0.5.1
nbconvert           6.0.7
nbformat            5.0.8
nest-asyncio        1.4.3
notebook            6.1.5
numpy               1.19.4
packaging           20.4
pandas              1.1.4
pandocfilters       1.4.3
parso               0.7.1
pexpect             4.8.0
pickleshare         0.7.5
pip                 20.2.3
prometheus-client   0.9.0
prompt-toolkit      3.0.8
ptyprocess          0.6.0
pycparser           2.20
Pygments            2.7.2
pyparsing           2.4.7
pyrsistent          0.17.3
python-dateutil     2.8.1
pytz                2020.4
pyzmq               20.0.0
requests            2.25.0
Send2Trash          1.5.0
setuptools          49.2.1
six                 1.15.0
terminado           0.9.1
testpath            0.4.4
tornado             6.1
traitlets           5.0.5
urllib3             1.26.2
wcwidth             0.2.5
webencodings        0.5.1
WARNING: You are using pip version 20.2.3; however, version 20.2.4 is available.
You should consider upgrading via the '/Users/thomascuddihy/workspace/personal/challenge-retail/venv/bin/python3 -m pip install --upgrade pip' command.

In [3]:
import pandas as pd

In [4]:
raw_data = pd.read_csv('../data/01_raw/Retail.csv')

In [5]:
raw_data

,Year,Product line,Product type,Product,Order method type,Retailer country,Revenue,Planned revenue,Product cost,Quantity,Unit cost,Unit price,Gross profit,Unit sale price
0,2004,Camping Equipment,Cooking Gear,TrailChef Water Bag,Telephone,United States,315044.33,437477.15,158371.76,66385.0,2.552857,6.59,156672.57,5.195714
1,2004,Camping Equipment,Cooking Gear,TrailChef Water Bag,Telephone,Canada,13444.68,14313.48,6298.80,2172.0,2.900000,6.59,7145.88,6.190000
2,2004,Camping Equipment,Cooking Gear,TrailChef Water Bag,Telephone,Mexico,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2004,Camping Equipment,Cooking Gear,TrailChef Water Bag,Telephone,Brazil,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2004,Camping Equipment,Cooking Gear,TrailChef Water Bag,Telephone,Japan,181120.24,235236.64,89413.06,35696.0,2.657000,6.59,91707.18,5.488000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84667,2007,Mountaineering Equipment,Tools,Granite Extreme,Fax,Belgium,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84668,2007,Mountaineering Equipment,Tools,Granite Extreme,Fax,Switzerland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84669,2007,Mountaineering Equipment,Tools,Granite Extreme,Fax,Austria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84670,2007,Mountaineering Equipment,Tools,Granite Extreme,Fax,Italy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84671,2007,Mountaineering Equipment,Tools,Granite Extreme,Fax,Spain,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [69]:
sales_performance = raw_data[['Year', 'Product', 'Order method type', 'Retailer country', 'Revenue', 'Quantity', 'Gross profit']].dropna()

In [45]:
import plotly.express as px

In [46]:
figure=px.bar(df_yearly_performance,
              x="Year",
              y="value",
              color="variable",
              barmode="group",
              labels={"value": "$"},
              color_discrete_sequence=[
                  "#519872",
                  "#34252f",
              ],
             ),b

NameError: name 'df_yearly_performance' is not defined

In [68]:
sales_performance

,Year,Product,Order method type,Retailer country,Revenue,Revenue,Gross profit
0,2004,TrailChef Water Bag,Telephone,United States,315044.33,315044.33,156672.57
1,2004,TrailChef Water Bag,Telephone,Canada,13444.68,13444.68,7145.88
4,2004,TrailChef Water Bag,Telephone,Japan,181120.24,181120.24,91707.18
6,2004,TrailChef Water Bag,Telephone,China,69608.15,69608.15,34281.90
7,2004,TrailChef Water Bag,Telephone,Singapore,30940.35,30940.35,14569.38
...,...,...,...,...,...,...,...
84585,2007,Granite Extreme,Web,Austria,278464.00,278464.00,108014.72
84586,2007,Granite Extreme,Web,Italy,588468.00,588468.00,228263.64
84587,2007,Granite Extreme,Web,Spain,331512.00,331512.00,128591.76
84595,2007,Granite Extreme,Special,Singapore,96216.00,96216.00,37321.68
84631,2007,Granite Extreme,E-mail,Canada,215004.00,215004.00,83398.92

In [72]:
col_options = [dict(label=x, value=x) for x in ['Product', 'Order method type', 'Retailer country', 'Revenue', 'Quantity', 'Gross profit']]

In [73]:
col_options

[{'label': 'Product', 'value': 'Product'},
 {'label': 'Order method type', 'value': 'Order method type'},
 {'label': 'Retailer country', 'value': 'Retailer country'},
 {'label': 'Revenue', 'value': 'Revenue'},
 {'label': 'Quantity', 'value': 'Quantity'},
 {'label': 'Gross profit', 'value': 'Gross profit'}]

In [ ]:
@app.callback(Output("graph", "figure"), [Input(d, "value") for d in dimensions])
def make_figure(x='Year', y, color, facet_col, facet_row):
    return px.scatter(
        tips,
        x=x,
        y=y,
        color=color,
        facet_col=facet_col,
        facet_row=facet_row,
        height=700,
    )